*,
*:before,
*:after {
  box-sizing: border-box;
}

::selection {
  background-color: #ff5733;
  color: #ffffff;
}

html,
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  border: 0;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-feature-settings: "liga", "kern";
  -webkit-font-smoothing: antialiased;
}

h1,
h3 {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ff5722;
}

h2,
p,
nav,
ul,
li,
ol,
a {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: #ffffff;
}

.navbar-toggler {
  border: 0;
  border-radius: 6px;
  padding: 5px;
  margin: 0;
  align-items: center;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  color: white;
  height: 20px;
  width: 20px;
}

.navbar-toggler-icon i {
  font-size: 24px;
}

.dlg-link:hover {
  color: #ff5722;
}

.dlg-link:visited {
  color: #ffffff;
}

.fa {
  padding-right: 15px;
}

.dlg-list {
  list-style: none;
  position: relative;
  padding-left: 40px;
  margin-top: 28px;
  margin-bottom: 34px;
}

.dlg-list li {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.dlg-list li::before {
  left: 0px;
  position: absolute;
  background-image: url(/public/img/list-icon-dlg.svg);
  background-size: 23px 23px;
  width: 26px;
  height: 25px;
  content: "" !important;
  background-repeat: no-repeat;
}

.dlg-color {
  color: #ff5722;
}

.dlg-button {
  border: 2px solid #ff5722;
  font-weight: 100;
  vertical-align: middle;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 6px;
  color: white;
}

.dlg-button:hover,
.dlg-button:focus,
.dlg-button:visited {
  outline: 0;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.dlg-button-row {
  margin-top: 30px;
}

.dlg-store-button {
  margin-right: 20px;
  margin-top: 20px;
  height: 50px;
}

.dlg-nav-container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

@media (max-width: 1000px) {
  .dlg-nav-container {
    padding-bottom: 15px;
  }
}

.dlg-nav {
  background-color: #494949;
}

.dlg-container {
  width: 90%;
  max-width: 1200px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.dlg-footer {
  width: 90%;
  max-width: 1200px;
  padding-top: 65px;
  padding-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
}

.dlg-footer .col {
  align-self: flex-end;
}

.dungeon-masters {
  background-color: #494949;
}

.players {
  background-color: #101010;
}

.about-us {
  background-color: #212121;
}

.dlg-nav-item {
  font-weight: 300;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20px;
}

.dlg-nav-item:not(:last-child) {
  margin-right: 0px;
}

.dlg-nav-item-orange {
  color: #ff5722;
  font-weight: 300;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 20px;
}

.dlg-nav-item-orange:not(:last-child) {
  margin-right: 0px;
}
.dlg-nav-item-orange:hover {
  color: #ff5722;
}

.dlg-nav-item-orange:visited {
  color: #ff5722;
}

.dlg-product-info {
  min-width: 350px;
}

@media (max-width: 400px) {
  .dlg-product-info {
    min-width: 150px;
  }
}

.dlg-product-image {
  margin-top: 20px;
  width: 100%;
  min-width: 350px;
  max-width: 500px;
}

@media (max-width: 400px) {
  .dlg-product-image {
    min-width: 150px;
    max-width: 300px;
  }
}

.dlg-title {
  font-size: 3.25rem;
  line-height: 82px;
  margin-bottom: 15px;
}

.dlg-alt-title {
  font-size: 2.5rem;
  color: white;
  line-height: 82px;
  margin-bottom: 15px;
}

.dlg-subtitle {
  font-size: 1.9rem;
  line-height: 28px;
  margin-bottom: 30px;
  letter-spacing: 0.3px;
}

.dlg-body {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 20px;
  letter-spacing: 0.3px;
}

.dlg-footer-body {
  font-weight: 100;
  font-size: 1.125rem;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}

@media (max-width: 1000px) {
  .dlg-title {
    font-size: 2.3rem;
  }

  .dlg-subtitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 750px) {
  .dlg-title {
    font-size: 1.8rem;
  }

  .dlg-alt-title {
    font-size: 1.5rem;
  }

  .dlg-body {
    font-size: 1rem;
  }

  .dlg-list li {
    font-size: 1rem;
  }
}

.u-margin-top-medium {
  display: inline-block;
  margin-top: 30px;
}
