html,
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3 {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
h2 a {
  color: #ff5722;
}

h3,
h4,
p,
ul {
  color: #ffffff;
}

ul,
ol,
h4,
h5,
h6,
nav {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.3px;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
  letter-spacing: 0;
}

p {
  font-weight: 400;
}

.dlg-color {
  color: #ff5722;
}

.dlg-button {
  border: 2px solid #ff5722;
  font-weight: 100;
  padding: 12px 10px;
  margin-right: 20px;
  border-radius: 6px;
  color: white;
}

.dlg-button:hover,
.dlg-button:focus,
.dlg-button:visited {
  outline: 0;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.dlg-container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.dlg-nav {
  background-color: #494949;
}

.dungeon-masters {
  background-color: #494949;
}

.players {
  background-color: #101010;
}

.about-us {
  background-color: #212121;
}

.dlg-footer {
  background-color: #000000;
}
